* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-style: normal;
  color: #282828;
}

header {
  font-size: 0.73vw;
  font-weight: 600;
  line-height: 1.25vw;
}

h6 {
  font-size: 1.04vw;
  font-weight: 600;
  line-height: 1.46vw;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  h6 {
    font-size: 5.33vw;
    font-weight: 600;
    line-height: 1.46vw;
  }
}

h5 {
  font-size: 1.77vw;
  font-weight: 600;
  line-height: 2.08vw;
  letter-spacing: -0.4px;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  h5 {
    font-size: 7.5vw;
    font-weight: 600;
    line-height: 8.67vw;
  }
}

h4 {
  font-size: 2.19vw;
  font-weight: 600;
  line-height: 2.81vw;
  letter-spacing: -0.4px;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  h4 {
    font-size: 9.07vw;
    font-weight: 600;
    line-height: 10.67vw;
  }
}

h3 {
  font-size: 3.61vw;
  font-weight: 600;
  line-height: 4.14vw;
  align-self: stretch;
  letter-spacing: -1px;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  h3 {
    font-size: 7.4vw;
    font-weight: 600;
    line-height: 9.53vw;
  }
}

input {
  border: none;
}

a {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
  border-bottom: 1px solid;
}

.container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  .container__image {
    margin-right: 4.27vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .container {
    padding: 2.13vw 4.27vw;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 52px 52px;
  }
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .navigation-bar {
    padding: 1.07vw 52px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .navigation-bar {
    padding: 2.13vw 4.27vw;
  }
}

.navigation {
  padding: 0.67vw 0;
  display: flex;
  align-items: center;
  gap: 2.67vw;
}
.navigation__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .navigation {
    visibility: hidden;
    display: none;
  }
}

.icons {
  display: inline-flex;
  align-items: center;
  gap: 1.36vw;
}

@media screen and (max-width: 1024px) and (min-width: 324px) {
  .desktop-item {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-item {
    display: none;
    visibility: hidden;
  }
}

.content-container {
  position: relative;
  background-color: #F9FAFB;
}
.content-container__inners {
  display: flex;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .content-container__inners {
    flex-wrap: wrap;
    gap: 6.4vw;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .content-container {
    background-color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  .content-image {
    width: 50.1vw;
    height: 47.65vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .content-image {
    width: 100%;
    height: auto;
  }
}

.info__text-description {
  margin-bottom: 24px;
  text-align: center;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .info__text-description {
    font-size: 3.73vw;
    font-weight: 400;
    line-height: 5.87vw;
  }
}
.info__text {
  display: flex;
  flex-direction: column;
  gap: 1.91vw;
  width: 70%;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .info__text {
    align-self: center;
    width: 90%;
  }
}
.info__text-main {
  display: flex;
  flex-direction: column;
}
.info__text-main p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  align-self: stretch;
}
.info__text-button {
  display: flex;
  align-self: flex-start;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .info__text-button {
    margin-bottom: 3.2vw;
  }
}

.brand-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.content-container__arrows {
  display: flex;
  position: absolute;
  bottom: 320px;
  margin: 0 28px;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .content-container__arrows {
    visibility: hidden;
    display: none;
  }
}

.arrows__right-button {
  position: absolute;
  left: 1367px;
}
.arrows__left-button {
  transform: rotateZ(180deg);
}

.brands-container {
  display: block;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .logo-container {
    border-top: 1px solid #D0D5DD;
    border-bottom: 1px solid #D0D5DD;
  }
}

@media screen and (max-width: 1024px) and (min-width: 324px) {
  .brands-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 40px 4.27vw;
  }
}

.navigation-dots {
  display: flex;
  justify-content: center;
}

.dots {
  display: flex;
  align-self: center;
  gap: 10px;
}

.logos {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.47vw 0;
  gap: 6.6vw;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .logos__item {
    flex-basis: 35%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 324px) {
  .logo {
    width: 25.57vw;
  }
}

.logo-arrows {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) and (min-width: 324px) {
  .banner-grid {
    padding: 3.2vw 4.27vw;
  }
}

.cards {
  gap: 32px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .cards {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
  }
}

.card-info {
  text-align: center;
  margin: 16px 32px 0 0;
}
.card-info__span {
  color: #5F6980;
}

.grid-image {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .grid-image {
    width: 91.47vw;
    height: auto;
  }
}

.container-inners {
  display: flex;
  gap: 7.76vw;
  background-color: #F9FAFB;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .container-inners {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4.27vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 324px) {
  .container-inners {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.sale__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.18vw;
}

.sale-image {
  width: 100%;
}

.sale-text {
  margin-bottom: 24px;
  font-size: 1.23vw;
  font-weight: 400;
  line-height: 2.04vw;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .sale-text {
    font-size: 3.73vw;
    font-weight: 300;
    line-height: 5.87vw;
    color: #5F6980;
  }
}

.sale-brand-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.sale-button {
  background-color: #282828;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.sale-button__text {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.button {
  padding-bottom: 24px;
}

.container-info {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 79px;
  padding-top: 87px;
  border: 1px solid #D0D5DD;
  border-radius: 10px;
  flex-shrink: 0;
}

.info__text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inners {
  height: 52px;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .form-inners {
    flex-direction: column;
    gap: 12px;
    padding-bottom: 117px;
  }
}

.inners-input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D0D5DD;
  height: 52px;
  width: 100%;
}

.form {
  color: #9D9FA1;
  width: 100%;
  margin: 0 8px;
}

.form-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  background-color: white;
  border: none;
  border-bottom: 1px solid #D0D5DD;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .form-button {
    background-color: #282828;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 6px;
  }
}

.banner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__inners {
  position: relative;
}
.banner__inners__info {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .banner__inners__info {
    bottom: 170px;
    left: 430px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .banner__inners__info {
    bottom: 90px;
  }
}

.info-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-description__title {
  color: white;
  text-align: center;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .info-description__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
  }
}
.info-description__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: white;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .info-description__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}
.info-description__button {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
  border-bottom: 1px solid;
  color: white;
}

.footer__container {
  background-color: #F9FAFB;
  padding-top: 72px;
  padding-bottom: 32px;
}
.footer__content {
  display: flex;
  gap: 384px;
  margin-bottom: 72px;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .footer__content {
    justify-content: center;
  }
}
.footer__list {
  gap: 120px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) and (min-width: 324px) {
  .footer__list {
    display: none;
    visibility: hidden;
  }
}
.footer__bottom {
  padding-top: 24px;
  border-top: 1px solid #D0D5DD;
  display: flex;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.description__image {
  margin-bottom: 16px;
}

.description__text {
  align-self: stretch;
  width: 310px;
  color: #475467;
}

.media-icon:not(:last-child) {
  margin-right: 16px;
}

.column {
  width: 134px;
}
.column__item {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #5F6980;
}

.list-column {
  display: flex;
  flex-direction: column;
}

.inner-list {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.first-item {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.bottom-buttons {
  display: flex;
  gap: 32px;
}

.language {
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.currency {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom-text {
  color: #5F6980;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.menu-item {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D0D5DD;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.language-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.currency-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.mobile-buttons {
  justify-content: center;
}

@media screen and (max-width: 1024px) and (min-width: 324px) {
  .left__media-icons {
    gap: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
